<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books and Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'books_authors.css' %}">
</head>
<body>
    <form id='book_form' action="/add-book" method="POST">
        {% csrf_token %}
        <h1>Add a Book</h1>
        <p>Title <input type="text" name="book_title"></p>
        <p>Description <textarea name='book_desc' id="" cols="20" rows="5"></textarea></p>
        <button type="submit">Add</button>    
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Action</th>
        </tr>
        {% for book in all_books %}
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td><a href="/book/{{book.id}}">View</a></td>
        {% endfor %}
        </tr>
    </table>
</body>
</html>




